<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>974666375155-053787u71f905jg571obbhicq24ti5fg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyClG3cn1LY_yYbWwfxge2L3SXRn4aHQAqY</string>
	<key>GCM_SENDER_ID</key>
	<string>974666375155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alhamriyah.v1</string>
	<key>PROJECT_ID</key>
	<string>my-project-1556407613593</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project-1556407613593.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974666375155:ios:7af43546eacf46882bbc86</string>
	<key>DATABASE_URL</key>
	<string>https://my-project-1556407613593.firebaseio.com</string>
</dict>
</plist>